---
title: Contact
layout: default
bodyClass: page-contact
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-6">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">
                    {{content}}
                    
                </div>
                </div>
            </div>
            <div class="col-3 col-md-4 col-lg-4">
                        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.whatsappqr | relative_url }}" />
                      </div>
        
        
        

    </div>
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
    <div style="text-align:center">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6999.821906315305!2d77.1319406223792!3d28.692310209581834!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x68d14f24216966f9!2sCorporate%20Consultancy%20(%20Company%20Incorporation%2C%20Company%20Filings%2C%20Trademark%20Registration%2C%20FSSAI%20Registration%2C%20ISO%20Certification%2C%20DIN%2FDSC%20Services%2C%20Striking%20off%20etc.)!5e0!3m2!1sen!2sin!4v1640469989727!5m2!1sen!2sin" width="100%" height="500px" style="border:5; margin-left:auto;margin-right:auto;" allowfullscreen="" loading="lazy"></iframe>
</div> 
        </div></div>
</div>
<form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
        <div class="mc-field-group">
        <input type="submit" value="Contact Us" name="subscribe" class="heart">
        </div>
        </form>
 
     <style>
    .wj-contact-form input {
        vertical-align: middle;
        margin-top: 0.25em;
        margin-bottom: 0.5em;
        padding: 0.75em;
        font-family: monospace, sans-serif;
        border:1px solid #444;
        outline-color: #2e83e6;
        border-radius: 3px;
        transition: box-shadow .2s ease;
    }

    .wj-contact-form input[type="submit"] {
        background-color: #2e83e6;
        border: 1px solid #2e83e6;;
        color: #eee;
    }
</style> 

